In [1]:
import os, sys # add MaaSSim to path (not needed if MaaSSim is already in path)
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import MaaSSim

In [2]:
#!pip install MaaSSim
import MaaSSim.utils
import logging
from dotmap import DotMap
import MaaSSim.simulators
from MaaSSim.data_structures import structures as inData
from MaaSSim.acceptance import f_decline, f_decline_R50
from MaaSSim.acceptance import RA_kpi_veh, RA_kpi_pax

In [3]:
import osmnx as ox
import networkx as nx
import random
import pandas as pd
import matplotlib.pyplot as plt          
import numpy as np
import seaborn as sns

In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
# Do not forget to set the radius for centeral nodes calculation
# The minimum trip distance is considered 1000m and this can be modified through utils.py: generate_demand function. 
# long attribute should be calculated according to the size of city
# Platform fare is 2$ per km

params = MaaSSim.utils.get_config('glance.json')
params.vehicle_fixed_positions = True
params.times.patience = 600 #in second
params.dist_threshold = 10000 #in meter
params.dist_threshold_min = 1000
params.city = "Delft, Netherlands"
params.paths.G = "../../data/graphs/Delft.graphml"
params.paths.skim = "../../data/graphs/Delft.csv"

params.d2d.fuel_cost = 0.25 #euro/km
params.platforms.comm_rate = 0.25
params.platforms.base_fare = 2
params.platforms.fare = 1.2 
params.platforms.min_fare = 2
params.speeds.ride=10
params.times.decline=20
params.assert_me = False

params.zoning_level = 6

params.nP = 10
params.nV = 2
params.simTime = 1

In [35]:
sim = MaaSSim.simulators.simulate(params=params, f_driver_decline=f_decline)

16-09-22 14:37:38-WARNING-Setting up 1h simulation at 2022-09-16 14:16:08 for 2 vehicles and 10 passengers in Delft, Netherlands
16-09-22 14:37:38-INFO--------------------	Starting simulation	-------------------
16-09-22 14:37:38-INFO-pax    0  got to dest at                           2022-09-16 14:23:14
16-09-22 14:37:38-INFO-pax    1  got to dest at                           2022-09-16 14:38:17
16-09-22 14:37:38-WARNING-pax    4  got rejected by vehicle 2                2022-09-16 14:40:22
16-09-22 14:37:38-INFO-pax    2  got to dest at                           2022-09-16 14:40:22
16-09-22 14:37:38-WARNING-Nobody likes each other, Qs 1veh; 1req; tabu 2
16-09-22 14:37:38-INFO-pax    3  got to dest at                           2022-09-16 14:47:34
16-09-22 14:37:38-INFO-pax    4  has no offers                            2022-09-16 14:47:50
16-09-22 14:37:38-INFO-pax    6  got to dest at                           2022-09-16 14:54:14
16-09-22 14:37:38-INFO-pax    5  got to dest at                           2022-09-16 15:00:45
16-09-22 14:37:38-WARNING-pax    9  got rejected by vehicle 2                2022-09-16 15:12:51
16-09-22 14:37:38-INFO-pax    7  got to dest at                           2022-09-16 15:12:51
16-09-22 14:37:38-WARNING-Nobody likes each other, Qs 1veh; 1req; tabu 3
16-09-22 14:37:38-INFO-pax    8  got to dest at                           2022-09-16 15:14:23
16-09-22 14:37:38-INFO-pax    9  got to dest at                           2022-09-16 15:25:49
16-09-22 14:37:38-INFO-veh    2  quitted shift                            2022-09-16 17:16:07
16-09-22 14:37:38-INFO-veh    1  quitted shift                            2022-09-16 17:16:07
16-09-22 14:37:38-INFO--------------------	Simulation over		-------------------
16-09-22 14:37:38-INFO-queue of requests 0
16-09-22 14:37:38-WARNING-simulation time 0.4 s

In [36]:
sim.sss

{'rej_upto1': [4, 9],
 'rej_upto3': [],
 'rej_upto5': [],
 'rej_above5': [],
 'acc_upto1': [0, 1, 2, 5, 7, 8, 9],
 'acc_upto3': [3, 6],
 'acc_upto5': [],
 'acc_above5': []}

In [21]:
d = {'upto1':[1,2], 'upto2':[11,22]}
d

{'upto1': [1, 2], 'upto2': [11, 22]}

In [24]:
d['upto1'].append(4222)
d

{'upto1': [1, 2, 44, 4222], 'upto2': [11, 22]}

In [27]:
ds = 1

if ds<=1:
    print('hi')

hi

In [19]:
sim.concat_sdf

               hex5   cnt  demand  supply  D/S  surge_mp
0   85196bb3fffffff  1880       1       0  1.0         0
1   85196bbbfffffff   276       0       0  0.0         0
0   85196bb3fffffff  1880       1       1  1.0         0
1   85196bbbfffffff   276       0       0  0.0         0
0   85196bb3fffffff  1880       0       1  0.0         0
..              ...   ...     ...     ...  ...       ...
1   85196bbbfffffff   276       2       0  2.0         0
0   85196bb3fffffff  1880       0       1  0.0         0
1   85196bbbfffffff   276       0       0  0.0         0
0   85196bb3fffffff  1880       0       2  0.0         0
1   85196bbbfffffff   276       0       0  0.0         0

[260 rows x 6 columns]

In [94]:
sim.runs[0].rides

    veh           pos      t                      event  paxes
0     1  1.570983e+09      0                 STARTS_DAY     []
1     1  1.570983e+09      0                  OPENS_APP     []
2     1  1.570983e+09      0           RECEIVES_REQUEST  [0.0]
3     1  1.570983e+09     15            ACCEPTS_REQUEST  [0.0]
4     1  1.570983e+09     35   IS_ACCEPTED_BY_TRAVELLER  [0.0]
5     1  3.581094e+09    342          ARRIVES_AT_PICKUP  [0.0]
6     1  3.581094e+09    342  MEETS_TRAVELLER_AT_PICKUP  [0.0]
7     1  3.581094e+09    372        DEPARTS_FROM_PICKUP    [0]
8     1  4.477346e+07    527         ARRIVES_AT_DROPOFF    [0]
9     1  4.477346e+07    835           RECEIVES_REQUEST  [2.0]
10    1  4.477346e+07    850            ACCEPTS_REQUEST  [2.0]
11    1  4.477346e+07    870   IS_ACCEPTED_BY_TRAVELLER  [2.0]
12    1  2.595158e+09   1060          ARRIVES_AT_PICKUP  [2.0]
13    1  2.595158e+09   1060  MEETS_TRAVELLER_AT_PICKUP  [2.0]
14    1  2.595158e+09   1090        DEPARTS_FROM_PICKUP    [2]
15    1  4.484156e+07   1480         ARRIVES_AT_DROPOFF    [2]
16    1  4.484156e+07   1543           RECEIVES_REQUEST  [3.0]
17    1  4.484156e+07   1558            ACCEPTS_REQUEST  [3.0]
18    1  4.484156e+07   1578   IS_ACCEPTED_BY_TRAVELLER  [3.0]
19    1  1.530304e+09   1744          ARRIVES_AT_PICKUP  [3.0]
20    1  1.530304e+09   1744  MEETS_TRAVELLER_AT_PICKUP  [3.0]
21    1  1.530304e+09   1774        DEPARTS_FROM_PICKUP    [3]
22    1  7.353084e+08   2247         ARRIVES_AT_DROPOFF    [3]
23    1  7.353084e+08   2257           RECEIVES_REQUEST  [4.0]
24    1  7.353084e+08   2272            ACCEPTS_REQUEST  [4.0]
25    1  7.353084e+08   2292   IS_ACCEPTED_BY_TRAVELLER  [4.0]
26    1  1.519890e+09   2791          ARRIVES_AT_PICKUP  [4.0]
27    1  1.519890e+09   2791  MEETS_TRAVELLER_AT_PICKUP  [4.0]
28    1  1.519890e+09   2821        DEPARTS_FROM_PICKUP    [4]
29    1  1.436427e+09   3231         ARRIVES_AT_DROPOFF    [4]
30    1  1.436427e+09  10799                 ENDS_SHIFT     []
0     2  4.476711e+07      0                 STARTS_DAY     []
1     2  4.476711e+07      0                  OPENS_APP     []
2     2  4.476711e+07    572           RECEIVES_REQUEST  [1.0]
3     2  4.476711e+07    587            ACCEPTS_REQUEST  [1.0]
4     2  4.476711e+07    607   IS_ACCEPTED_BY_TRAVELLER  [1.0]
5     2  4.473961e+07    715          ARRIVES_AT_PICKUP  [1.0]
6     2  4.473961e+07    715  MEETS_TRAVELLER_AT_PICKUP  [1.0]
7     2  4.473961e+07    745        DEPARTS_FROM_PICKUP    [1]
8     2  4.482001e+07   1060         ARRIVES_AT_DROPOFF    [1]
9     2  4.482001e+07   1927           RECEIVES_REQUEST  [4.0]
10    2  4.482001e+07   1957            REJECTS_REQUEST  [4.0]
11    2  4.482001e+07  10799                 ENDS_SHIFT     []

In [27]:
sim.res[0].platform

   fare  name  batch_time  base_fare  min_fare  profit
1   1.2   NaN         NaN          2         2  18.879

In [25]:
pax = sim.passengers
pax

          pos                           event platforms
0  1449050796  travellerEvent.ARRIVES_AT_DEST       [1]
1    44776713  travellerEvent.ARRIVES_AT_DEST       [1]
2    44821573  travellerEvent.ARRIVES_AT_DEST       [1]
3    44868816  travellerEvent.ARRIVES_AT_DEST       [1]
4  4555788280  travellerEvent.ARRIVES_AT_DEST       [1]

In [10]:
params.paths.get('sy', False)

False

In [23]:
sdf = sim.inData.sdf
sdf

               hex7  cnt  demand  supply  D/S
0   87196bb10ffffff  503       0       1  0.0
1   87196bb11ffffff  102       0       0  NaN
2   87196bb12ffffff  513       0       0  NaN
3   87196bb13ffffff  489       0       1  0.0
4   87196bb15ffffff    1       0       0  NaN
5   87196bb16ffffff  148       0       0  NaN
6   87196bb18ffffff    2       0       0  NaN
7   87196bb1cffffff    9       0       0  NaN
8   87196bb1effffff  115       0       0  NaN
9   87196bbacffffff   83       0       0  NaN
10  87196bbadffffff  191       0       0  NaN

In [27]:
import h3

for index, row  in pax.iterrows():
    lat = sim.inData.G.nodes[row.pos]['y']
    lng = sim.inData.G.nodes[row.pos]['x']

    add = h3.geo_to_h3(lat,lng,sim.params.zoning_level)

    index = sdf[sdf.hex7 == add].index
    sdf.at[index,'demand'] = sdf.loc[index].demand+1
    
sdf

               hex7  cnt  demand  supply  D/S
0   87196bb10ffffff  503       1       1  0.0
1   87196bb11ffffff  102       0       0  NaN
2   87196bb12ffffff  513       2       0  NaN
3   87196bb13ffffff  489       2       1  0.0
4   87196bb15ffffff    1       0       0  NaN
5   87196bb16ffffff  148       0       0  NaN
6   87196bb18ffffff    2       0       0  NaN
7   87196bb1cffffff    9       0       0  NaN
8   87196bb1effffff  115       0       0  NaN
9   87196bbacffffff   83       0       0  NaN
10  87196bbadffffff  191       0       0  NaN

In [28]:
sim.vehs[1].offers[1]['surge_mp']

0

In [62]:
df = sim.inData.sdf

x = df[df.hex7 == '87196bb12ffffff'].surge_mp
x[x.index[0]]

0.0

In [61]:
x.index[0]

2

In [50]:
a = 1
c = x+a 
c

2    1.0
Name: surge_mp, dtype: float64

NameError: name 'osmnx' is not defined

In [76]:
import matplotlib as p
p.__version__

'3.4.3'

In [7]:
sim.inData.sdf

               hex7  cnt  demand  supply  D/S  surge_mp
0   87196bb10ffffff  503       0       1  0.0       0.0
1   87196bb11ffffff  102       0       0  NaN       NaN
2   87196bb12ffffff  513       0       0  NaN       NaN
3   87196bb13ffffff  489       0       1  0.0       0.0
4   87196bb15ffffff    1       0       0  NaN       NaN
5   87196bb16ffffff  148       0       0  NaN       NaN
6   87196bb18ffffff    2       0       0  NaN       NaN
7   87196bb1cffffff    9       0       0  NaN       NaN
8   87196bb1effffff  115       0       0  NaN       NaN
9   87196bbacffffff   83       0       0  NaN       NaN
10  87196bbadffffff  191       0       0  NaN       NaN