In [1]:
import osmnx as ox
import networkx as nx
import random
import pandas as pd
import matplotlib.pyplot as plt          
import numpy as np
import seaborn as sns

In [47]:
table = pd.DataFrame(columns=['time', 'upto_1', 'upto_2', 'upto_3', 'upto_4', 'upto_5', 'above_5'])
table.time = ['8:00-9:00', '9:00-10:00', '10:00-11:00', '11:00-12:00', '12:00-13:00', '13:00-14:00', 
              '14:00-15:00', '15:00-16:00']
table

          time upto_1 upto_2 upto_3 upto_4 upto_5 above_5
0    8:00-9:00    NaN    NaN    NaN    NaN    NaN     NaN
1   9:00-10:00    NaN    NaN    NaN    NaN    NaN     NaN
2  10:00-11:00    NaN    NaN    NaN    NaN    NaN     NaN
3  11:00-12:00    NaN    NaN    NaN    NaN    NaN     NaN
4  12:00-13:00    NaN    NaN    NaN    NaN    NaN     NaN
5  13:00-14:00    NaN    NaN    NaN    NaN    NaN     NaN
6  14:00-15:00    NaN    NaN    NaN    NaN    NaN     NaN
7  15:00-16:00    NaN    NaN    NaN    NaN    NaN     NaN

In [52]:
path = 'sim200l7.csv'
df = pd.read_csv(path)
df.time = df.apply(lambda row: pd.Timestamp(row.time), axis=1)

s = 8
j = 0
for i in range(0,8):
    x = df.loc[(pd.Timestamp('1900-01-01 0{}:00:00'.format(s+i))<df.time) & 
               (df.time<=pd.Timestamp('1900-01-01 0{}:00:00'.format(s+1+i)))].copy()
    
    table.at[i, 'upto_1'] =100*len(x.loc[(x.bucket=='rej_upto1') | (x.bucket=='acc_upto1')]) /len(x)
    table.at[i, 'upto_2'] =100*len(x.loc[(x.bucket=='rej_upto2') | (x.bucket=='acc_upto2')]) /len(x)
    table.at[i, 'upto_3'] =100*len(x.loc[(x.bucket=='rej_upto3') | (x.bucket=='acc_upto3')]) /len(x)
    table.at[i, 'upto_4'] =100*len(x.loc[(x.bucket=='rej_upto4') | (x.bucket=='acc_upto4')]) /len(x)
    table.at[i, 'upto_5'] =100*len(x.loc[(x.bucket=='rej_upto5') | (x.bucket=='acc_upto5')]) /len(x)
    table.at[i, 'above_5'] =100*len(x.loc[(x.bucket=='rej_above5') | (x.bucket=='acc_above5')]) /len(x)

    
table

,time,upto_1,upto_2,upto_3,upto_4,upto_5,above_5
0,8:00-9:00,27.364865,8.614865,7.347973,6.756757,7.010135,42.905405
1,9:00-10:00,17.504488,15.35009,11.310592,10.32316,8.078995,37.432675
2,10:00-11:00,40.936255,16.533865,11.85259,7.270916,5.079681,18.326693
3,11:00-12:00,25.626741,14.206128,9.192201,8.449396,7.520891,35.004643
4,12:00-13:00,35.005118,23.541453,14.738997,9.211873,6.141249,11.36131
5,13:00-14:00,15.799087,12.146119,8.949772,6.30137,5.479452,51.324201
6,14:00-15:00,11.934901,14.647378,12.929476,11.663653,9.584087,39.240506
7,15:00-16:00,12.860676,11.706513,10.63479,8.821105,7.749382,48.227535

In [43]:
df.loc[(pd.Timestamp('1900-01-01 08:00:00')<=df.time) & (df.time<=pd.Timestamp('1900-01-01 16:00:00'))]

,Unnamed: 0,request_id,origin,bucket,zone,time
0,0,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
1,1,3196,1657457051,rej_upto1,87196824dffffff,1900-01-01 08:01:00
2,2,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
3,3,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
4,4,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
...,...,...,...,...,...,...
8765,2682,8539,46393690,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8766,2683,172,324022023,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8767,2684,7864,27219290,acc_above5,871969530ffffff,1900-01-01 15:55:00
8768,2685,1589,46429524,acc_above5,871969c9bffffff,1900-01-01 15:59:00
8769,2686,132,46411806,acc_above5,871969c9bffffff,1900-01-01 15:58:00

In [36]:
df.loc[(pd.Timestamp('1900-01-01 08:00:00')<df.time) & (df.time<pd.Timestamp('1900-01-01 16:00:00'))]

,Unnamed: 0,request_id,origin,bucket,zone,time
0,0,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
1,1,3196,1657457051,rej_upto1,87196824dffffff,1900-01-01 08:01:00
2,2,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
3,3,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
4,4,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
...,...,...,...,...,...,...
8765,2682,8539,46393690,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8766,2683,172,324022023,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8767,2684,7864,27219290,acc_above5,871969530ffffff,1900-01-01 15:55:00
8768,2685,1589,46429524,acc_above5,871969c9bffffff,1900-01-01 15:59:00
8769,2686,132,46411806,acc_above5,871969c9bffffff,1900-01-01 15:58:00

In [17]:
x = df.loc[(pd.Timestamp('1900-01-01 08:00:00')<df.time) & (df.time<pd.Timestamp('1900-01-01 09:00:00'))]

In [28]:
df

,Unnamed: 0,request_id,origin,bucket,zone,time
0,0,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
1,1,3196,1657457051,rej_upto1,87196824dffffff,1900-01-01 08:01:00
2,2,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
3,3,5214,46244565,rej_upto1,871969521ffffff,1900-01-01 08:01:00
4,4,2527,46499650,rej_upto1,871969c9dffffff,1900-01-01 08:01:00
...,...,...,...,...,...,...
8765,2682,8539,46393690,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8766,2683,172,324022023,acc_above5,871969c9bffffff,1900-01-01 15:58:00
8767,2684,7864,27219290,acc_above5,871969530ffffff,1900-01-01 15:55:00
8768,2685,1589,46429524,acc_above5,871969c9bffffff,1900-01-01 15:59:00
8769,2686,132,46411806,acc_above5,871969c9bffffff,1900-01-01 15:58:00

In [ ]:
df