In [16]:
import os, sys # add MaaSSim to path (not needed if MaaSSim is already in path)
module_path = os.path.abspath(os.path.join('../..'))
if module_path not in sys.path:
    sys.path.append(module_path)
import MaaSSim

In [17]:
#!pip install MaaSSim
import MaaSSim.utils
import logging
from dotmap import DotMap
import MaaSSim.simulators
from MaaSSim.data_structures import structures as inData

In [18]:
import osmnx as ox
import networkx as nx
import random
import pandas as pd
import matplotlib.pyplot as plt          
import numpy as np
import seaborn as sns

In [6]:
# change the city name and run

params = MaaSSim.utils.get_config('glance.json') 
params.city = 'Sora, Italy'
MaaSSim.utils.make_config_paths(params, main=None, rel = False)
inData = MaaSSim.utils.download_G(inData, params)
MaaSSim.utils.save_G(inData, params)
print("Graph is saved to '...MaaSSim/data/graphs'")

Downloading network for Sora, Italy witn osmnx
Graph is saved to '...MaaSSim/data/graphs'

In [2]:
import math

In [15]:
max_ds = 15.4
ds= 19
math.ceil((3/(max_ds-1))*ds - (3/(max_ds-1)))

4

In [24]:
surge_table = pd.DataFrame(columns=['veh_id', 'surge = 0', 'surge = 1', 'surge = 2', 'surge = 3'])
surge_table.veh_id = [i for i in range(1,5)]
surge_table.set_index('veh_id', inplace=True)

for fee in range(0,3+1):
    surge_table['surge = 0'] = surge_table.apply(lambda row: sim.vehs[row.name].surge_fees.count(fee)
                                                 , axis=1)
surge_table

        surge = 0 surge = 1 surge = 2 surge = 3
veh_id
1               2       NaN       NaN       NaN
2               4       NaN       NaN       NaN
3               6       NaN       NaN       NaN
4               8       NaN       NaN       NaN

In [29]:
surge_table['surge = {}'.format(3)] = surge_table.apply(lambda row: row.name
                                             , axis=1)

surge_table

        surge = 0 surge = 1 surge = 2  surge = 3
veh_id
1               1       NaN       NaN          1
2               2       NaN       NaN          2
3               3       NaN       NaN          3
4               4       NaN       NaN          4